<div *ngIf="hero">
  <h2>{{hero.name}} details!</h2>
  <div>
    <img src="{{hero.image}}" alt={{hero.name}} height="250" width="250">
  </div>
  <div>
    <label>Name: </label>
    <input [(ngModel)]="hero.name" placeholder="name">
  </div>
  <div>
    <label>Alter-Ego: </label>
    <input [(ngModel)]="hero.alterEgo" placeholder="alterEgo">
  </div>
  <div>
    <label>Description: </label>
    <input [(ngModel)]="hero.description" placeholder="description">
  </div>
  <div>
    <label>Powers: </label>
    <input [(ngModel)]="hero.powers" placeholder="powers">
  </div>
  <div>
    <label>Birth Date: </label>
    <input [(ngModel)]="hero.birthDate" placeholder="birthDate">
  </div>
  <div>
    <label>Image URL: </label>
    <input [(ngModel)]="hero.image" placeholder="image">
  </div>


  <button (click)="goBack()">Back</button>
  <button *ngIf="hero.modifiable" (click)="saveHeroe()">Save</button>

</div>
